{% extends "spud/templates/cv.html" %}

{% block title %}<title>brian_house_cv</title>{% endblock title %}

{% block head %}
<style type="text/css">
body {
    margin: .5in;
    font-size: 11px;
    line-height: 16px;
}
li span {
    font-size: 10px;
}
.title {
    font-size: 20px;
}
</style>
{% endblock head %}

{% block menu %}{% endblock menu %}

{% block cv %}
<div>
    <ul>
        <li><span class="title">Brian House | Bio + CV</span></li>
        <!-- <li>520 S Palatine Hill Rd, Portland OR 97219</li>
        <li>email@brian.house | <a href="https://brianhouse.net"
        >https://brianhouse.net</a></li> -->
    </ul>
    <p>Brian House is an artist who investigates the politics of time in human and nonhuman systems. Incorporating sound, code, and multidisciplinary research, his practice has traversed subjects from geolocation tracking to the communication strategies of urban rats.</p>
    <p>House has exhibited at MoMA, Los Angeles MOCA, Ars Electronica, ZKM, Madrid CentroCentro, Stockholm Kulturhuset, and the Cincinnati Contemporary Arts Center, among others. The New York Times Magazine, WIRED, Neural, Creative Applications, and TIME’s annual “Best Inventions” issue have featured his work, and his essays and articles have been published in Leonardo, the Journal of Sonic Studies, and e-flux Architecture.</p>
    <p>Currently, House is Assistant Professor of Art and Studio Head of Digital Media at Lewis & Clark College in Portland, Oregon. He has been an associate scholar at Columbia University's Center for Spatial Research, an artist-in-residence at Eyebeam, STEIM, and the Rocky Mountain Biological Lab, and in a past life he worked in the R&D Lab at The New York Times. He got his start as an undergraduate at the Columbia Computer Music Center and holds a PhD in Computer Music from Brown University.</p>
    <br />
</div>


{% endblock cv %}
