<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
    {% block title %}<title>{{ info.name }}{% if title %} | {{ title }}{% elif page and page != 'www' %} | {{ page | title }}{% endif %}</title>{% endblock title %}
    <meta charset="utf-8"/>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="{{ info.name }}" />
    <meta name="copyright" content="{{ info.name }}" />
    <meta name="description" content="{% if text %}{{ text | strip_html | strip_quotes | replace('\n', ' ') | strslice(157) }}...{% else %}{{ info.blurb }}{% endif %}" />
    <meta property="og:title" content="{{ info.name }}{% if title %} | {{ title }}{% elif page and page != 'www' %} | {{ page | title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ info.url }}{% if title %}/works/{{ page }}/{{ page }}{% else %}/about/about{% endif %}.jpg" />
    <meta property="og:image:height" content="450">
    <meta property="og:image:width" content="800">
    <meta property="og:description" content="{% if text %}{{ text | strip_html | strip_quotes | replace('\n', ' ') | strslice(157) }}...{% else %}{{ info.blurb }}{% endif %}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ info.twitter }}" />
    <meta name="twitter:creator" content="{{ info.twitter }}" />
    <meta name="twitter:title" content="{{ info.name }}{% if title %} | {{ title }}{% elif page and page != 'www' %} | {{ page | title }}{% endif %}" />
    <meta name="twitter:description" content="{% if text %}{{ text | strip_html | strip_quotes | replace('\n', ' ') | strslice(157) }}...{% else %}{{ info.blurb }}{% endif %}" />
    <meta name="twitter:image" content="{{ info.url }}{% if title %}/works/{{ page }}/{{ page }}{% else %}/about/about{% endif %}.jpg" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" type="text/css" href="/style.css" />
{% block head %}
{% endblock head %}
</head>
<body>

{% block menu %}
<div id="header">
    <div id="name"><a href="/" alt="Home">{{ info.name }}</a></div>
    <div id="menu">
        <a href="/{{ info.menu[0][1].strip('/') }}{{ '/' if info.menu[0][1] | length }}" alt="{{ info.menu[0][0] }}">{{ info.menu[0][0] }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/{{ info.menu[1][1].strip('/') }}{{ '/' if info.menu[0][1] | length }}" alt="{{ info.menu[1][0] }}">{{ info.menu[1][0] }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/{{ info.menu[2][1].strip('/') }}{{ '/' if info.menu[0][1] | length }}" alt="{{ info.menu[2][0] }}">{{ info.menu[2][0] }}</a>
    </div>
</div>
<div class="clear"></div>
{% endblock menu %}

<main role="main">

{% block grid %}
{% endblock grid %}

<div id="content">
{% block content %}
{% endblock content %}
</div>

</main>

</body>
</html>
