{% extends "spud/templates/page.html" %}

{% block title %}<title>Brian House | Press Materials</title>{% endblock title %}

{% block content %}

<a href="press_1.jpg"><img src="press_1.jpg" /></a><br />
Photo: <a href="http://luciamonge.com">Lucia Monge</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
<br /><br />
<br /><br />

<a href="press_2.jpg"><img src="press_2.jpg" /></a><br />
<i>Trying the Hand of God</i> at Museum of Contemporary Art, Los Angeles<br />
Photo: <a href="https://www.adamberry.org/">Adam Berry</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
<br /><br />
<br /><br />

<a href="../works/quotidian_record/quotidian_record_7@2x.jpg"><img src="../works/quotidian_record/quotidian_record_7@2x.jpg" /></a><br />
<i>Quotidian Record</i> at Eyebeam, New York<br />
Photo: <a href="https://partnerandpartners.com/">Greg Mihalko</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
<br /><br />
<br /><br />

<a href="../works/trying_the_hand_of_god/trying_the_hand_of_god_2@2x.jpg"><img src="../works/trying_the_hand_of_god/trying_the_hand_of_god_2@2x.jpg" /></a><br />
<i>Trying the Hand of God</i> at Museum of Contemporary Art, Los Angeles<br />
Photo: <a href="http://www.sue-huang.com/">Sue Huang</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
<br /><br />
<br /><br />



{% endblock content %}
