{% extends "spud/templates/page.html" %}


{% block content %}
{% for writing in writings %}
    <div>
        <span class="writing_title">{{ writing.title }}</span><br />
        <span class="credits">{{ writing.volume | capitalize }}, <i>{{ writing.book }}</i>{% if writing.year %}, {{ writing.year }}{% endif %}
        ({% if writing.link %}<u><a href="{{ writing.link }}" target="_blank">publisher</a></u>{% endif %}{% if writing.pdf %}, <u><a href="/files/{{ writing.pdf }}">pdf</a></u>{% endif %})
        </span>
        <br />
    </div>
{% endfor %}
{% endblock content %}
