{% extends "spud/templates/page.html" %}


{% block grid %}
<div id="grid">
{% for work in structure['works'] %}
    {% set data = child_data['works']['child_data'][work] %}
    {% if not ('hidden' in data and data['hidden'] == True) %}
        {% set title = work | unslugify %}
        {% set work = work | slugify %}
        <div class="work" id="work_{{ work }}">
            <a href="/works/{{ work }}/" alt="{{ title }}">
                <div class="image">
                {% if image_structure[work][0][1] %}
                    <img src="/works/{{ work }}/{{ work }}.jpg" alt="Brian House - {{ title }}" srcset="/works/{{ work }}/{{ work }}.jpg 1x, /works/{{ work }}/{{ work }}@2x.jpg 2x" onload="document.getElementById('work_{{ work }}').style.opacity='1'; console.log('loaded {{work}}');" />
                {% else %}
                    <img src="/works/{{ work }}/{{ work }}.jpg" alt="Brian House - {{ title }}" onload="document.getElementById('work_{{ work }}').style.opacity='1'" />
                {% endif %}
                </div>
                <span class="grid_title">{{ title }}</span>
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock grid %}
